## Test Data

In [1]:
import numpy as np
import pandas as pd

from sklearn import cross_validation
from sklearn import neighbors
from sklearn import grid_search
from sklearn import metrics
from sklearn import linear_model

import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="whitegrid", font_scale=1)
%matplotlib inline

In [2]:
# Load data
df = pd.read_csv("data/weather.csv")

# Check head
df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [3]:
# load test data_set
test_data = pd.read_csv("data/test.csv")

In [4]:
test_data.head()

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
1,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
2,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
3,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9
4,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9

In [5]:
# groupby function on date as column and use mean (mean of the values in there) as aggregator
df.groupby(['Date']).mean()

            Station  Tmax  Tmin  DewPoint  ResultSpeed  ResultDir
Date
2007-05-01      1.5  83.5  51.0      51.0         2.20       26.0
2007-05-02      1.5  59.5  42.5      42.0        13.15        3.0
2007-05-03      1.5  66.5  47.0      40.0        12.30        6.5
2007-05-04      1.5  72.0  50.0      41.5        10.25        7.5
2007-05-05      1.5  66.0  53.5      38.5        11.45        7.0
2007-05-06      1.5  68.0  50.5      30.0        14.10       10.5
2007-05-07      1.5  83.5  48.5      40.0         8.55       17.5
2007-05-08      1.5  81.0  57.0      57.5         2.60        9.5
2007-05-09      1.5  76.5  62.0      59.5         3.90        8.0
2007-05-10      1.5  83.5  57.5      52.0         1.35       13.0
2007-05-11      1.5  71.5  50.0      43.0        11.50       19.5
2007-05-12      1.5  64.5  46.5      36.5        12.55        2.0
2007-05-13      1.5  69.0  43.5      32.5         6.50       12.5
2007-05-14      1.5  90.0  55.0      46.0        15.50       21.0
2007-05-15      1.5  81.0  56.5      56.0         8.10       26.0
2007-05-16      1.5  65.0  44.5      42.5         7.90       36.0
2007-05-17      1.5  61.5  43.5      32.0        11.10        2.0
2007-05-18      1.5  70.5  42.5      30.5         4.40       23.5
2007-05-19      1.5  80.0  56.0      38.0        11.10       23.5
2007-05-20      1.5  69.0  43.5      40.5         9.50        3.5
2007-05-21      1.5  79.5  45.0      50.0         6.30       10.5
2007-05-22      1.5  87.0  57.5      45.0        10.05       17.0
2007-05-23      1.5  89.0  63.0      48.5        11.15       18.5
2007-05-24      1.5  88.0  64.5      53.5        14.35       20.5
2007-05-25      1.5  68.0  56.5      45.0         4.70        5.0
2007-05-26      1.5  67.5  49.5      55.0         2.65       16.0
2007-05-27      1.5  75.0  58.0      48.0         8.55       25.0
2007-05-28      1.5  77.5  52.0      48.0         4.75        9.0
2007-05-29      1.5  88.0  62.5      58.5         5.80       17.0
2007-05-30      1.5  88.0  68.0      57.5        10.00       18.0
...             ...   ...   ...       ...          ...        ...
2014-10-02      1.5  73.5  64.5      62.0         7.20       17.0
2014-10-03      1.5  66.5  44.5      46.0        14.55       28.0
2014-10-04      1.5  48.0  36.0      34.5        13.55       25.5
2014-10-05      1.5  55.5  39.5      35.5         9.30       23.0
2014-10-06      1.5  62.0  45.0      39.0         8.70       24.0
2014-10-07      1.5  67.5  48.5      44.0        10.05       24.5
2014-10-08      1.5  66.0  46.0      35.5        10.85       27.0
2014-10-09      1.5  63.0  46.5      35.0         3.40       19.0
2014-10-10      1.5  58.5  41.5      39.5         5.75        2.0
2014-10-11      1.5  59.5  38.0      35.0         3.15        8.0
2014-10-12      1.5  63.5  41.5      43.0         8.70       14.0
2014-10-13      1.5  69.0  57.5      59.5         7.60       14.5
2014-10-14      1.5  66.0  53.0      58.0         2.65       11.0
2014-10-15      1.5  56.5  51.5      52.0         9.45       35.0
2014-10-16      1.5  57.0  51.5      50.5         4.75       24.5
2014-10-17      1.5  62.5  48.5      47.0        10.90       28.5
2014-10-18      1.5  51.0  37.5      39.0         7.90       34.0
2014-10-19      1.5  55.5  34.5      39.0         8.30       21.0
2014-10-20      1.5  65.5  48.0      45.0         4.80       32.0
2014-10-21      1.5  53.5  47.0      40.0        10.90       18.5
2014-10-22      1.5  56.0  39.0      38.0         2.95        9.5
2014-10-23      1.5  60.5  38.5      40.5         7.70       19.0
2014-10-24      1.5  67.5  53.0      47.0         4.65       22.0
2014-10-25      1.5  73.5  50.5      40.5        10.05       28.5
2014-10-26      1.5  65.0  43.0      32.5         1.25        8.0
2014-10-27      1.5  78.0  52.5      51.5        12.35       19.0
2014-10-28      1.5  67.0  46.5      39.0        14.40       26.0
2014-10-29      1.5  49.0  38.0      33.0         9.00       29.0
2014-10-30      1.5  52.0  34.5      34.5         5.50       23.5
2014-10-31      1.5  48.0  33.5      27.0        22.15       34.0

[1472 rows x 6 columns]

In [7]:
from datetime import datetime
#pd.to_datetime(df['Date'], infer_datetime_format=True)

#df['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
pd.to_datetime(df['Date'])
pd.to_datetime(test_data['Date'])
#df.dtypes

0        2008-06-11
1        2008-06-11
2        2008-06-11
3        2008-06-11
4        2008-06-11
5        2008-06-11
6        2008-06-11
7        2008-06-11
8        2008-06-11
9        2008-06-11
10       2008-06-11
11       2008-06-11
12       2008-06-11
13       2008-06-11
14       2008-06-11
15       2008-06-11
16       2008-06-11
17       2008-06-11
18       2008-06-11
19       2008-06-11
20       2008-06-11
21       2008-06-11
22       2008-06-11
23       2008-06-11
24       2008-06-11
25       2008-06-11
26       2008-06-11
27       2008-06-11
28       2008-06-11
29       2008-06-11
            ...
116263   2014-10-02
116264   2014-10-02
116265   2014-10-02
116266   2014-10-02
116267   2014-10-02
116268   2014-10-02
116269   2014-10-02
116270   2014-10-02
116271   2014-10-02
116272   2014-10-02
116273   2014-10-02
116274   2014-10-02
116275   2014-10-02
116276   2014-10-02
116277   2014-10-02
116278   2014-10-02
116279   2014-10-02
116280   2014-10-02
116281   2014-10-02
116282   2014-10-02
116283   2014-10-02
116284   2014-10-02
116285   2014-10-02
116286   2014-10-02
116287   2014-10-02
116288   2014-10-02
116289   2014-10-02
116290   2014-10-02
116291   2014-10-02
116292   2014-10-02
Name: Date, dtype: datetime64[ns]

In [8]:
joined_data = test_data.merge(df, left_on='Date', right_on='Date', how='inner')

In [9]:
joined_data

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
1,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
2,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
3,2,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
4,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
5,3,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
6,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
7,4,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX SALINARIUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
8,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
9,5,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TERRITANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
10,6,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TARSALIS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
11,6,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX TARSALIS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
12,7,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",UNSPECIFIED CULEX,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
13,7,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",UNSPECIFIED CULEX,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
14,8,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX ERRATICUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
15,8,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX ERRATICUS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
16,9,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS/RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
17,9,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS/RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
18,10,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
19,10,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
20,11,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
21,11,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX PIPIENS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
22,12,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX SALINARIUS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
23,12,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX SALINARIUS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
24,13,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TERRITANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
25,13,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TERRITANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
26,14,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TARSALIS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
27,14,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX TARSALIS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
28,15,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",UNSPECIFIED CULEX,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,0,M,0.0,0.00,29.28,29.99,8.9,18,10.0
29,15,2008-06-11,"6200 North Mandell Avenue, Chicago, IL 60646, USA",UNSPECIFIED CULEX,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,...,,M,M,M,0.00,29.34,29.97,9.4,18,10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232556,116279,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX RESTUANS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232557,116279,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX RESTUANS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232558,116280,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX PIPIENS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232559,116280,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX PIPIENS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232560,116281,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX SALINARIUS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232561,116281,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX SALINARIUS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232562,116282,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX TERRITANS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232563,116282,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX TERRITANS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232564,116283,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX TARSALIS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232565,116283,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX TARSALIS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232566,116284,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",UNSPECIFIED CULEX,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232567,116284,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",UNSPECIFIED CULEX,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232568,116285,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX ERRATICUS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232569,116285,2014-10-02,"9600 South Longwood Drive, Chicago, IL 60643, USA",CULEX ERRATICUS,96,S LONGWOOD DR,T094B,"9600 S LONGWOOD DR, Chicago, IL",41.719140,-87.669539,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232570,116286,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232571,116286,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232572,116287,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232573,116287,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232574,116288,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232575,116288,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232576,116289,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX SALINARIUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232577,116289,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX SALINARIUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232578,116290,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TERRITANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232579,116290,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TERRITANS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232580,116291,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TARSALIS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232581,116291,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX TARSALIS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232582,116292,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232583,116292,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",UNSPECIFIED CULEX,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9
232584,116293,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,0,M,0.0,0.32,29.03,29.78,7.2,17,7.9
232585,116293,2014-10-02,"2100 North Cannon Drive, Chicago, IL 60614, USA",CULEX ERRATICUS,21,N CANNON DR,T054C,"2100 N CANNON DR, Chicago, IL",41.925652,-87.633590,...,TSRA RA BR,M,M,M,0.72,29.10,29.78,7.2,17,7.9

In [11]:
def pre_proc(df):
    # Create dummy variables for all non-numerical columns
    

    
    # Get dummy variables for Species
    df = df.join(pd.get_dummies(df['Species'], prefix='Species'))
    # Remove Species column
    df = df.drop(['Species'], axis=1)
    
    # Get dummy variables for Street
    df = df.join(pd.get_dummies(df['Street'], prefix='Street'))
    # Remove Species column
    df = df.drop(['Street'], axis=1)
    
    # Get dummy variables for Address
    df = df.join(pd.get_dummies(df['Address'], prefix='Address'))
    # Remove Address column
    df = df.drop(['Address'], axis=1)
    
     # Get dummy variables for AddressNumberAndStreet
    df = df.join(pd.get_dummies(df['AddressNumberAndStreet'], prefix='AddressNumberAndStreet'))
    # Remove Address column
    df = df.drop(['AddressNumberAndStreet'], axis=1)
    
    # Get dummy variables for Trap
    df = df.join(pd.get_dummies(df['Trap'], prefix='Trap'))
    # Remove Address column
    df = df.drop(['Trap'], axis=1)



    return df

In [12]:
# Apply pre_proc() to DF
final_data = pre_proc(joined_data)

# Check cleaned data
final_data.head()

,Id,Date,Block,Latitude,Longitude,AddressAccuracy,Station,Tmax,Tmin,Tavg,...,Trap_T231,Trap_T232,Trap_T233,Trap_T234,Trap_T235,Trap_T236,Trap_T237,Trap_T238,Trap_T900,Trap_T903
0,1,2008-06-11,41,41.95469,-87.800991,9,1,86,61,74,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2008-06-11,41,41.95469,-87.800991,9,2,86,66,76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2008-06-11,41,41.95469,-87.800991,9,1,86,61,74,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2,2008-06-11,41,41.95469,-87.800991,9,2,86,66,76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,2008-06-11,41,41.95469,-87.800991,9,1,86,61,74,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
final_numeric_test_data = final_data.apply(pd.to_numeric, errors='coerce')

In [14]:
final_numeric_test_data.head()

,Id,Date,Block,Latitude,Longitude,AddressAccuracy,Station,Tmax,Tmin,Tavg,...,Trap_T231,Trap_T232,Trap_T233,Trap_T234,Trap_T235,Trap_T236,Trap_T237,Trap_T238,Trap_T900,Trap_T903
0,1,NaN,41,41.95469,-87.800991,9,1,86,61,74,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,NaN,41,41.95469,-87.800991,9,2,86,66,76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,NaN,41,41.95469,-87.800991,9,1,86,61,74,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2,NaN,41,41.95469,-87.800991,9,2,86,66,76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,NaN,41,41.95469,-87.800991,9,1,86,61,74,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
def drop_date(df):
    # Create dummy variables for all non-numerical columns
    # Remove Species column
    df = df.drop(['Date'], axis=1)
    return df

In [19]:
final_numeric_test_data = drop_date(final_numeric_test_data)

In [21]:
final_numeric_test_data = final_numeric_test_data.fillna(0)